:root {
	--fill-color: #F7CB15;
	--secondary-color: #3d8bb1;
	--stroke-color: #1d2a53;
	--white: white;
	--red: #e74c3c;
  }


body,
html {
	margin: 0;
	padding: 0;
	color: white;
}

h1 {
	color:white;
}
#particles-js {
	background-color: #485461;
	background-image: linear-gradient(315deg, #485461 10%, #28313b 55%);
}
#particles-js {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}
em {
	font-size: 120%;
	font-style: normal;
	color: #F7CB15;
}
.text-intro {
	color: white;
}
figure {
	background-color: rgba(0, 0, 0, 0);
}
.about {
	color: white;
	border-top-style: solid;
	border-width: 0.1px;
	border-color: #F7CB15;
	background-color: rgba(0, 0, 0, 0.1) !important;  
	backdrop-filter: blur(2px) !important;

}
.flexblock {
	background-color: rgba(0, 0, 0, 0) !important;
}

.clients {
	background-color: rgb(141, 38, 38);
	color: black;
}

.skills {
	background-color: rgb(141, 38, 38);
	color: black;
}

.button {
	background-color: #F7CB15;
	color: #28313b;
	border-color: #F7CB15;
}
.button:hover {
	background-color:rgba(0, 0, 0, 0);
	color:  #F7CB15;
	border-color: #F7CB15;
}

img {
	padding-bottom: 15px;
}

.text-label {
	color: #F7CB15;
}

header {
	background-color: rgba(0, 0, 0, 0.1) !important;  
	backdrop-filter: blur(2px) !important;
}

.name {
	font-size: 100%;
}

.me {
	margin-top: 10px;
}

p {
	text-align: justify;
	text-justify: inter-word;
}

.logo {
	font-size: 160%;
}

.nav-link {
	background-color: rgba(0, 0, 0, 0) !important;  
}
.nav-element{
	width: 19px !important;
	transition: color 2s,font-size 2s;
	outline-color: #F7CB15 !important;
}

.nav-link:hover {
	color: #F7CB15;
	font-size: 110%;
}

.nav-element:focus{
	outline: none !important;
         box-shadow: none;;
}
.nav-element:visited{
	outline: none !important;
         box-shadow: none;;
}



.fa {
	font-size: 60px;
}

.contact {
	color: white !important;
	transition: color 0.5s;
}

.lgo {
	font-size: 25px;
	
}

.lgo-link {
	background-color: rgba(0, 0, 0, 0) !important;
}

.contact:hover {
	color: #F7CB15 !important;
}
.arrow{
	transition: filter 0.5s !important;
}

.arrow-left {
	transform: rotate(90deg) !important;
	position: absolute;
	top: 42vh;
	left: 1vw;
	z-index: 10 !important;
}
.arrow-right {
	transform: rotate(-90deg) !important;
	position: absolute;
	top: 42vh;
	left: 95vw;
	z-index: 10 !important;
}

.arrow:hover {
	filter: brightness(200%) !important;
}

.arrow:focus {
	margin-left: 50px !important;
}

