.row-header {
	margin: 0px auto;
	padding: 0px auto;
}

.row-content {
	margin: 0px auto;
	padding-top: 100px;
	padding-bottom: 50px;

}

.footer {
	background-color: #1E1E24;
	margin: 0px auto;
	padding :20px 0px 20px 0px;
}

.jumbotron {
	padding: 120px 30px 120px 30px;
	margin: 0px auto;
	background-color: #1E1E24;
	color: floralwhite;
}

.address {
	font-size: 80%;
	margin 0px;
	color: #0f0f0f;
}

body {
	padding: 50px 0px 0px 0px;
}

.navbar-light {
	background-color: #fff;
	box-shadow: 0px 5px 5px rgb(20,20,20,0.1);

}


.breadcrumb {
	background-color: #fff;
}

h1 {
	font-size:55px;
	color: #DD1C1A;
	font-weight:bold;

}

.btn-lg {
	color: white;
	background-color: #DD1C1A;
	border-radius: 25px;
}

.btn-lg:hover {
	background-color: #1E1E24;
	border-color: #DD1C1A;
	color: #DD1C1A;
	cursor: pointer;
}

.nav-item > .btn-group > .btn-primary {
	background-color: #DD1C1A !important;
	border-color: #DD1C1A !important;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
}

.nav-item > .btn-group > .btn-outline-primary {
	border-color: #DD1C1A !important;
	color: #DD1C1A;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
}

.nav-item > .btn-group > .btn-outline-primary:hover {
	border-color: #DD1C1A !important;
	background-color: #DD1C1A !important;
	color: white;
}

.nav-item > .btn-group > .btn-primary:hover {
	background-color: #c21917 !important;
	color: white;
}

.placeholder {
	width: 100%;
	height: auto;
	border: 5px solid transparent;
	border-color: white;

}


.input-group-text {
	background-color: #DD1C1A;
	color: white;
}

.padding-0 {
    padding-right:0;
    padding-left:0;
}

.btn-on-white {
	background-color: #DD1C1A;
	border-color: #DD1C1A;
}

.btn-on-white:hover {
	background-color: white;
	border-color: #DD1C1A;
	color: #DD1C1A;
}

a {
	color: #DD1C1A;
}

.active {
	text-decoration: overline;
	text-decoration-color: #DD1C1A;
}

.search-bar {
	height: 48px;
	background-color:#F5F4F2 !important;
	border-color: #F5F4F2 !important;
	border-radius: 25px !important;

}

h2 {
	font-weight: bold;
	font-size:48px;
	text-align: center;
}

.text-align-center {
	text-align: center;
}

.btn-group {
	border-top-left-radius: 
}

.desc {
	line-height: 50px;
	font-size: 28px;
}

h3 {
	color:#DD1C1A ;
	font-size: 35px;
	font-weight: bold;
}

.cpyright {
	color: white !important;
}

.find-creators {
	margin-top:50px;
}

.are-you {
	margin-bottom: 50px;
}

.last-row {
	background-color: #FAFBFC !important;
	padding-bottom: 150px;
}